.MobContain
{
    margin: 10px 15px 0;
    text-align: center;
}
.item
{
    display: flex;
    justify-content: space-between;
}
.avatar
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.sheniqngren
{
    margin-bottom: 10px;
}
